<mat-toolbar color="primary">
  <mat-icon>local_shipping</mat-icon>
  <span style="margin-left: 8px; font-weight: bold;">Fleet Management</span>
  <span style="flex: 1"></span>
  <a mat-button routerLink="/deliveries" routerLinkActive="active-link">
    <mat-icon>inventory</mat-icon> Entregas
  </a>
  <a mat-button routerLink="/vehicles" routerLinkActive="active-link">
    <mat-icon>directions_car</mat-icon> Veículos
  </a>
  <a mat-button routerLink="/drivers" routerLinkActive="active-link">
    <mat-icon>person</mat-icon> Motoristas
  </a>
</mat-toolbar>
